 .rmsc {
     --rmsc-main: #4285f4;
     --rmsc-hover: #f1f3f5;
     --rmsc-selected: #e2e6ea;
     --rmsc-border: #fff;
     --rmsc-gray: #aaa;
     --rmsc-bg: #fff;
     --rmsc-p: 10px;
     --rmsc-radius: 5px;
     --rmsc-h: 28px;
     width:97%;
     color: #666;
     font-weight: 500;
     font-size: 18px;
 }

 .multi-select{
     --rmsc-width: 90% !important;
     /*--rmsc-height: 35px !important; !* Height *!*/
 }